@page
@model IndexModel
@{
    ViewData["Title"] = "E-Rocket-Migrant";
}

<div class="text-center">
    <h1 class="display-4">E-Migrant</h1>
    <p>Bienvenido a un mundo de posibilidades</p>
    
</div>
