@page
@model MyApp.Namespace.CreateMigranteModel
@{
    ViewData["Title"] = "Crear Migrante";
}
<body>
   
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo"> REGISTRO INFORMACION PERSONAL</span>
              <form class="mb-3" method="post"> 
                <div class="mb-3">
                  <input asp-for="migrante.Nombre" type="text" class="form-control mb-3" name="Nombre" placeholder="Nombre" required>                      
                  <input asp-for="migrante.Apellidos" type="text" class="form-control mb-3" name="Apellidos" placeholder="Apellidos" required>
                  <select asp-for="migrante.TipoDocumento" class="form-control form-control" name="TipoDocumento" required>
                      <option selected>Tipo de Documento</option>
                      <option value="1">Cedula de Ciudadanìa</option>
                      <option value="2">Cedula de Extranjeria</option>
                      <option value="3">Tarjeta de Identidad</option>
                      <option value="3">Pasaporte</option>
                    </select>
                    <br>
                  <input asp-for="migrante.Documento" type="text" class="form-control mb-3" name="Documento" placeholder="Numero de documento de identificacion" required>
                  <input asp-for="migrante.Pais" type="text" class="form-control mb-3" name="Pais" placeholder="Pais de origen" required>
                  <input asp-for="migrante.FechaNacimiento" type="text" class="form-control mb-3" name="FechaNacimiento" placeholder="Fecha de nacimiento" required>
                  <input asp-for="migrante.Correo" type="text" class="form-control mb-3" name="Correo" placeholder="Direccion electronica">
                  <input asp-for="migrante.Telefono" type="text" class="form-control mb-3" name="Telefono" placeholder="Numero de telefono">                      <input asp-for="migrante.Direccion" type="text" class="form-control mb-3" name="Direccion" placeholder="Direccion actual">
                  <input asp-for="migrante.Ciudad" type="text" class="form-control mb-3" name="Ciudad" placeholder="Ciudad">
                  <input asp-for="migrante.SituacionLaboral" type="text" class="form-control mb-3" name="Situacion" placeholder="Situacion laboral">
                  </div>
                  <div class="mb-3">    
                <button type="submit" class="btn btn-success btn-lg float-end">ACEPTAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>>
</body> 

