@page
@model MyApp.Namespace.ListMigranteModel
@{
}
<div class="textcenter">
<h2>Listado de personas</h2>
<a asp-page="./CreateMigrante" class="btn btn-dark" >Crear</a>

</div>
<table style="width:100%">
  <tr>
    <th>Id</th>  
    <th>Nombre</th>
    <th>Apellidos</th>     
  </tr>
  @foreach (var migrante in Model.Migrantes)
  {
    <tr>
            <td>@migrante.Documento</td>
            <td>@migrante.Nombre</td>
            <td>@migrante.Apellidos</td>   
            <td><a asp-page="./DetailsMigrante" class="btn btn-dark" >Detalle</a></td>                
            <td><a asp-page="./EditMigrante" class="btn btn-dark" >Editar</a></td>
             
           @* <td><a class="btn btn-dark" asp-page="./DeleteMigrante" asp-route-id="@migrante.Id"><i class="fas fa-trash-alt"></i></a></td>
                
            @* <td><a href="http://www.google.com" target="_blank">google</a></td> *@
    </tr>

  }

</table>


