@page
@model MyApp.Namespace.DeleteEntidadModel
@{
}
<h2>Estás seguro que deseas borrar</h2>
<form method="post" >
    <input type="submit" value="Borrar" class="btn btn-dark"/>
</form>
<div><a class="btn btn-dark" asp-page="./List"><i class="fas fa-angle-double-left"></i></a></div>   
